@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #020617; /* slate-950 */
  @apply text-slate-200;
}

.custom-scrollbar::-webkit-scrollbar { width: 4px; height: 4px; }
.custom-scrollbar::-webkit-scrollbar-track { background: #0f172a; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #334155; border-radius: 10px; }
